.landing {
	// background: #252934;
	// linear-gradient(to right, rgba(#252934, 0.4), rgba(#252934, 0.4)),
	// background: url('../images/bg1.gif');
	background-color: #080808;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	// border: 5px solid red;

	&__content {
		padding: 1.5rem;
		border-radius: 15px;
		text-align: center;
		max-width: max-content;
		margin: 0 auto;
		letter-spacing: 1px;
		line-height: 3rem;
		// border: 1px solid #08afb7;
		.social-links {
			margin-bottom: 3rem;
			padding-top: 2rem;
			.links-wrapper {
				display: flex;
				justify-content: center;

				.links-item {
					list-style-type: none;
					padding: 0;
					.social-icon {
						color: #fff;
						font-size: 2.25rem;
						margin-left: 8px;
						margin-right: 8px;
						transition: all 0.5s ease-in-out;
						cursor: pointer;
						&:hover {
							color: #08afb7;
						}
					}
				}
			}
		}
		h1 {
			color: #fff;
			font-size: 3rem;
			font-weight: 350;
		}
		&--name {
			color: #e01b6c;
			font-weight: 500;
			font-size: 2.7rem;
		}

		button {
			background: transparent;
			font-size: 1.25rem;
			font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
			text-decoration: none;
			color: #fff;
			border: 1px solid #fff;
			padding: 9px 15px;
			display: inline-block;
			margin: 2.8rem auto;
			letter-spacing: 1px;
			transition: all 0.5s ease-in-out;
			cursor: pointer;

			.arrow-right {
				width: max-content;
				height: max-content;
				margin-bottom: -0.2rem;
				margin-left: 0.5rem;
				transition: all 0.3s linear;
			}
			&:hover {
				background: #08afb7;
				.arrow-right {
					transform: rotate(90deg);
				}
			}
		}
	}
}
