.modal {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(to right, rgba(#272727, 0.5), rgba(#272727, 0.5));
	opacity: 3;
	color: #fff;

	.wrapper {
		max-width: 568px;
		margin: 2rem auto;

		.modal_slider {
			display: flex;
			// flex-direction: row;
			position: relative;
			overflow: hidden;
			height: 300px;

			.nextImg {
				transform: translateX(100%);
				position: absolute;
			}
			.prevImg {
				transform: translateX(-100%);
				position: absolute;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transform: translateX(0);
				position: absolute;
				transition: all 0.5s linear;
			}

			.icons {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				position: absolute;
				color: #fff;
				bottom: 0;
				width: 100%;

				.prev,
				.next {
					padding: 5px;
					font-size: 2rem;
					background: #999999;
					&:hover {
						color: #fff;
						background: #e01b6c;
					}
				}
			}
		}

		.modal_footer {
			background: #fff;
			display: flex;
			flex-direction: column;
			padding: 1rem 1rem;

			&--title {
				margin-top: 0.8rem;
				color: #414141;
				opacity: 0.9;
				text-transform: capitalize;
			}
			&--work {
				color: #999999;
				text-transform: uppercase;
				font-size: 0.7rem;
				font-weight: 600;
				opacity: 0.6;
				letter-spacing: 0.5px;
				margin: 5px 0 0.7rem 0;
			}
			hr {
				opacity: 0.4;
			}

			&--description {
				color: #515151;
				font-weight: 500;
				font-size: 0.7rem;
				margin: 1rem 0;
			}

			.base {
				display: flex;
				align-items: center;
				justify-content: space-between;

				button {
					display: flex;
					align-items: center;
					gap: 8px;
					padding: 7px 15px;
					background: #e01b6c;
					border: none;
					font-size: 0.7rem;
					transition: all 0.3s linear;
					.open-in-new {
						color: #fff;
						display: block;
					}
					a {
						text-decoration: none;
						color: #fff;
					}

					&:hover {
						background-color: #fff;
						outline: 1px solid #e01b6c;
						.open-in-new {
							color: #e01b6c;
						}
						a {
							color: #e01b6c;
						}
					}
				}
				p {
					color: #999999;
					display: block;
					font-size: 1.2rem;
					font-weight: 400;
					opacity: 0.77;
					&:hover {
						color: #666666;
						transform: scale(1.2);
					}
				}
			}
		}
	}
}
