nav {
	position: sticky;
	top: 0;
	height: 3.5rem;
	background-color: #1b242f;
	border-bottom: 3px solid #04c2c9;
	z-index: 9999999999;
	padding: 0 2rem;
	display: flex;

	.bars {
		padding: 5px;
		display: none;

		&__icon {
			color: #fff;
		}
	}
	.navLinks {
		ul {
			width: 1160px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			list-style-type: none;
			li {
				padding: 7px 45px 7px 0;
				.active {
					color: #e01b6c !important;
				}
				a {
					color: #fff;
					text-decoration: none;
					font-size: 1.125rem;
					font-weight: 400;
					transition: all 0.3s ease-in-out;
					&:hover {
						color: #e01b6c;
					}
				}
			}
		}
	}
}
